/*

democrateam styles

1. Global
2. Navbar
3. Header
4. Features
5. Tabs
6. Pricing

*/

/* 0. Variables */

$purple:        #6515dd;
$purple_dark:   #5011ae;
$border:        #e6e8ec;
// $text:          ;
$text-light:    #7a7c7f;

/* 1. Global */

[class^="ti-"],
[class*=" ti-"],
.love {
  color: $purple;
}

@media (max-width:767px) {

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }
}

body {
  color: #1d1d1d;
  font-family: "Roboto", sans-serif;
  position: relative;
}

a {
  color: $purple;
  font-weight: bold;
  position: relative;
  text-decoration: none;

  &.external:after,
  &.faq:after {
    bottom: -6px;
    content: "";
    left: 0;
    position: absolute;
    transition: all 0.3s ease;
    width: 20%;
  }

  &.external:after {
    border-bottom: 3px solid $purple;
  }

  &.faq:after {
    border-bottom: 3px solid #fff;
  }

  &:hover,
  &:focus {
    color: $purple_dark;
    text-decoration: none;

    &.external:after,
    &.faq:after {
      width: 100%;
    }

    &.external:after {
      border-color: $purple_dark;
    }
  }
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 45px;
  margin-bottom: 1rem;
}

h3 {
  font-size: 33px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

h5 {
  font-size: 28px;
  font-weight: 300;
  color: #633991;
  margin-bottom: 0.7rem;
}

p {
  color: rgb(72, 72, 72);
  font-weight: 300;

  &.lead {
    color: $purple;
    margin-bottom: 2rem;
  }
}

.text-primary {
  color: $purple;
}

.light-font {
  font-weight: 300;
}

.btn {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.375rem 1.35rem;
  transition: all 0.3s ease;
}

.btn-info {
  background: $purple;
  border: 0;
  color: #fff !important;
  font-weight: bold;

  &:hover {
    background: #5011ae;

    .ti-arrow-right {
      padding-left: 12px;
    }
  }

  .ti-arrow-right {
    color: #fff !important;
    padding-left: 6px;
    transition: padding-left 0.25s;
  }
}

.btn-outline-light:hover {
  color: #d6619c;
}

.btn-primary {
  background: #008489;
  border-radius: 3px;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  padding: 0.6rem 2rem;
  border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background: #00b6bd;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
  color: #FFF;
}

.btn-light {
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
  font-size: 14px;
  font-weight: 500;
  color: #633991;
  margin: 0.5rem;
  padding: 0.7rem 1.6rem;
  line-height: 1.8;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 0.8rem 1rem;
    font-size: 15px;
}

.light-bg {
  background-color: #f5f5f5;
}

.section {
  padding: 120px 0;
}

.margin-top {
  margin-top: 24px;
}

.highlight {
  background: $purple;
  color: #fff !important;
  padding: 120px 0;

  small,
  a {
    color: #fff;
  }
}

.highlight p {
  color: #fff !important;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.section-title small {
  color: $purple;
}

/* 2. Navbar */

.navbar-brand {
  background-image: url('../images/democrateam.svg');
  background-repeat: no-repeat;
  height: 27px;
  width: 250px;
  background-position: center left;
  display: inline-block;

  span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

.nav-menu {
  padding: 1rem 0;
  transition: all 0.3s ease;

  &.is-scrolling {
    padding: 0;
  }

  &.is-scrolling,
  &.menu-is-open {
    background: #fff;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.1);
  }
}

.navbar-nav {

  .nav-link {
    position: relative;
  }

  .btn {
    border: 2px solid $purple;
    color: $purple;
    font-weight: bold;
    line-height: 40px;
    padding-bottom: 0;
    padding-top: 0;
    transition: background 0.5s;

    &:hover {
      background: #5011ae;
      color: #fff;
    }
  }
}

@media (min-width: 992px) {

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 16px;
  }

  .navbar-nav>.nav-item>.nav-link.active:after {
    content: "";
    border-bottom: 2px solid $purple;
    left: 1rem;
    right: 1rem;
    bottom: 5px;
    height: 1px;
    position: absolute;
  }
}

@media (max-width:991px) {

  .navbar-nav {

    &.is-scrolling {
      padding-bottom: 1rem;
    }

    &.nav-item {
      text-align: center;
    }
  }
}

.navbar {
  padding: 1rem;
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  max-width: 250px;
}

.navbar-dark {

  .navbar-nav {

    .nav-link {
      color: rgb(72, 72, 72);
      font-weight: 300;

      &:hover,
      &:active,
      &:focus {
        color: rgba(0, 0, 0, 0.25);
      }

      &.active {
        color: $purple;
      }
    }
  }

  .navbar-toggler {
    background: $purple;
    border: 2px solid #fff;
    border-radius: 100%;
    bottom: 24px;
    height: 60px;
    position: fixed;
    right: 24px;
    width: 60px;
  }
}

/* 3. Header */

header {
  padding: 200px 0 100px;
}

.tagline {
  font-size: 23px;
  max-width: 600px;
}

@media (max-width:767px) {

  .tagline {
      font-size: 17px;
  }
}

/* 4. Features */

.card {
  margin-top: 20px;

  &.features {
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;

    &:hover {
      background: $purple;
      color: #fff;
      transform: translateY(-3px);
      box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);

      [class^="ti-"],
      p {
        color: #fff;
      }
    }
  }
}

.card-body {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.card-text {
  font-size: 14px;
}

/* 5. Tabs */

.tab-content {
  border: 1px solid #e6e8ec;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
  padding: 3rem;
}

@media (max-width:992px) {

  .tab-content {
      padding: 1.5rem;
  }
}

.tab-content {

  p {
    line-height: 1.8;
  }

  h2 {
    margin-bottom: 0.5rem;
  }
}

.tab-pane .text {
  max-width: 600px;
}

.nav-tabs {
  border-bottom: 0;
  margin-bottom: 24px;

  .nav-item .nav-link,
  .nav-link:focus,
  .nav-link:hover {
    padding: 1rem 1rem;
    border: 1px solid #e6e8ec;
    border-radius: 0;
    border-right: 0;
    font-size: 19px;
    color: rgb(72, 72, 72);
    background: #fff;
  }

  .nav-link:focus,
  .nav-link:hover {
    background: #5011ae;
    border-color: #5011ae;
    color: #fff;
  }

  .nav-item {

    .nav-link {

      &.first {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
      }

      &.last {
        border-right: 1px solid #e6e8ec;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
      }

      &.active {
        background: $purple;
        border-color: $purple;
        color: #fff;
      }
    }
  }
}

/* 6. Pricing */

@media (max-width:992px) {

  .card-deck {
    -ms-flex-direction: column;
    flex-direction: column;

    .card {
      margin-bottom: 15px;
    }
  }
}

.card {

  &.pricing {
    border: 1px solid #e6e8ec;
    border-radius: 0;

    .card-head {
      text-align: center;
      padding: 40px 0 20px;

      .price {
        display: block;
        font-size: 45px;
        font-weight: 300;

        sub {
          bottom: 0;
          font-size: 55%;
        }
      }
    }

    .list-group {
      margin-bottom: 48px;
    }

    .list-group-item {
      border: 0;
      color: #7a7c7f;
      font-weight: 300;
      padding: 1.05rem 1.25rem;
    }

    .card-body {
      padding: 1.75rem;
    }

    [class^="ti-"] {
      color: #03d38d;
      font-weight: bold;
    }
  }
}

.card-head .pricing-title {
  color: $purple;
  font-size: 24px;
  font-weight: normal;
}

.card {

  &.pricing {

    &.popular {
      background: $purple;
      box-shadow: 0px 12px 59px 0px rgba(36, 7, 31, 0.11);
      color: #fff;

      .pricing-title,
      [class^="ti-"] {
        color: #fff;
      }

      .list-group {
        background: $purple;
      }

      .list-group-item {
        background: transparent;
        color: #fff;
      }
    }
  }
}

.pricing-notes {
  background: #f9f9f9;
  border: 1px solid #e6e8ec;
  margin-top: 24px;
  padding: 24px;
}
